body{
    background-color: #290808;
    color: #a70202;
  }
  .header,.skills{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .my,.my2,.journey{
    font-weight: bold;
    font-size: 50px;
    color: whitesmoke;
  }
  
  .journey{
    margin-left: 10px;
  }
  
  .edu-details,.list-skills{
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    
  }
  
  .bachelors,.hsc,.sslc,.skills,.skills2{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 20px;
  }
  
  .bachelors,.sslc,.skills,.hsc,.skills2{
    border: 2px solid #880303;
  }
  
  .skills,.skills2{
    color: #a70202;
  }
  
  .skills,.my2,.skills2{
    display: flex;
    justify-content: center;
    background-color: #421111;
    width: 100%;
    margin-top: 20px;
  }
  
  .skill-topic{
    font-size: 20px;
    margin-left: 5px;
    color: whitesmoke;
    text-decoration:underline;
    justify-content: center;
  }
  
  .footer{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #a70202;
    
  }
  
  .link{
    text-decoration: none;
    color: #a70202;
  }
